@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.clicks-to-x {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;

  overflow: hidden;
  background: #202020;
  color: white;
  height: 500px;
  width: 400px;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  border-radius: 0.25em;
  box-shadow: 6px 4px 10px black;
}

.clicks-to-x .screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clicks-to-x .clickable {
  cursor: pointer;
}

.clicks-to-x .code {
  background: #404060;
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  font-style: normal;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
}

.clicks-to-x .error {
  background: #802020;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: bottom 0.3s ease;
}

.clicks-to-x .error .message {
  max-height: 8.5em;
  overflow-y: auto;
}

.clicks-to-x .error .close {
  margin-left: 1em;
  color: transparent;
  text-shadow: 0 0 0 white;
}

.clicks-to-x .error.hidden {
  bottom: -8.5em;
}

.clicks-to-x .loading {
  width: 60px;
  aspect-ratio: 4;
  background:
    no-repeat radial-gradient(circle closest-side, #fff 90%, #fff0) 0% 50%,
    no-repeat radial-gradient(circle closest-side, #fff 90%, #fff0) 50% 50%,
    no-repeat radial-gradient(circle closest-side, #fff 90%, #fff0) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: loading-anim 1s infinite linear;
}
@keyframes loading-anim {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }
  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }
  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}

.clicks-to-x .tab-menu {
  display: flex;
  width: 100%;
  align-items: center;
  background: #909090;
  gap: 1px;
}

.clicks-to-x .tab-menu div {
  flex-grow: 1;
  background: #404040;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  border-bottom: solid 1px #909090;
  transition: background-color 0.3s ease;
}

.clicks-to-x .tab-menu div.active {
  border: none;
  background: #202020;
}

.clicks-to-x .tab-menu div:hover {
  background: #474747;
}

.clicks-to-x .tab-menu div:active {
  background: #202020;
}

.clicks-to-x .tab-menu div.active:hover {
  background: #202020;
}

.clicks-to-x .tab-content {
  flex-grow: 1;
  padding: 1em;
}

.clicks-to-x .tab-content .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clicks-to-x .tab-content .field .field-name {
  width: 7em;
}

.clicks-to-x .tab-content .field input {
  background: #303030;
  border: 1px solid #505050;
  color: #c0c0c0;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  flex-grow: 1;
  box-sizing: border-box;
}

.clicks-to-x .tab-content .field input:focus {
  outline: none;
  border-color: #777;
}

.clicks-to-x button {
  display: block;
  color: white;
  margin: 1em auto;
  background: #303030;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  min-width: 50%;
  transition: background-color 0.3s ease;
}

.clicks-to-x button:hover {
  background: #404040;
}

.clicks-to-x button:active {
  background: #202020;
}

.clicks-to-x .lobby-info {
  padding: 1em;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.clicks-to-x .lobby-info.path-found {
  background: #202060;
}
.clicks-to-x .lobby-info.path-found.shortest-path-found {
  background: #206020;
}

.clicks-to-x .lobby-code {
  margin: 0.5em 0;
  font-size: 1.3em;
  text-align: center;
}

.clicks-to-x .timer {
  color: #ffa0a0;
  text-align: center;
  font-size: 2em;
}

.clicks-to-x .finished .timer {
  color: #ffffff;
}

.clicks-to-x .players {
  background: #404050;
  padding: 0.3em;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.clicks-to-x .player {
  display: flex;
  align-items: center;
}

.clicks-to-x .player .is-creator {
  flex-basis: 8%;
}

.clicks-to-x .player .alias {
  flex-basis: 25%;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clicks-to-x .player .submission {
  flex-basis: 67%;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.clicks-to-x .player .player-info {
  flex-basis: 67%;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.clicks-to-x .player .submission input {
  background: #303030;
  border: 1px solid #505050;
  color: #c0c0c0;
  padding: 0.5em 1em;
  width: 100%;
  box-sizing: border-box;
}

.clicks-to-x .player .submission input:disabled {
  background: #454545;
}

.clicks-to-x .player .submission button {
  min-width: unset;
  font-size: 0.8em;
  margin: unset;
}

.clicks-to-x .no-action-message {
  padding: 1em;
  margin-top: 1em;
  background: #402020;
}

.clicks-to-x .links {
  padding: 1em 0;
}

.clicks-to-x .links .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 0;
}

.clicks-to-x .links .row .label {
  flex-basis: 30%;
}

.clicks-to-x .links .row .link {
  flex-basis: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clicks-to-x .links .row .copy {
  flex-basis: 5%;
}
